* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --16px: 1em;
  --22px: 1.5em;
  --32px: 2em;
  --48px: 3em;
  --textH: rgb(255, 255, 255);
  --link: rgb(0, 0, 0);
  --background: rgb(223, 223, 223);
  --backgroundContent: rgb(0, 33, 94);
  --backgroundButtons: rgb(0, 56, 73);
  --texts: rgb(0, 255, 234);
  --padding: 14px;
  --padMenu: 8px;
}

body {
  background-color: var(--background);
}

nav {
  padding: 18px;
}

img {
  cursor: pointer;
}

p,
a,
span,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: sans-serif;
}

a {
  color: var(--link);
  font-family: monospace;
  cursor: pointer;
}

h1, input::placeholder, input{
  color: var(--textH);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2em;
  li {
    list-style: none;
  }
}

.menu a {
  color: var(--link);
  padding: var(--padMenu);
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(16px, 2vw, 18px);
  position: relative;
}

.menu a::after {
  position: absolute;
  content: "";
  width: 0%;
  transition: width 0.4s ease-in-out;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--link);
}

.menu a:hover::after {
  width: 100%;
}
