.menu {
  margin-bottom: 1em;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--48px) auto;
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  align-items: center;
  padding: var(--padding);
  background-color: var(--backgroundContent);
  border-radius: 14px;
  h1 {
    font-size: clamp(24px, 2vw, 28px);
    margin-bottom: 0.4em;
    text-transform: capitalize;
  }
}

.about p {
  width: 100%;
  color: var(--texts);
  text-align: justify;
  font-size: var(--16px);
}

.back-theme {
  width: 100%;
  border-top: 4px solid rgb(2, 92, 104);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  background-image: url(../images/general_img/footer-part_img.jpg);
}

.label-search {
  padding-top: var(--32px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(12, 12, 12, 0.623);
  align-items: center;
  margin-bottom: 2em;
  box-shadow: 2px 8px 14px rgba(12, 12, 12, 0.623);
  h2 {
    color: var(--textH);
    font-size: var(--16px);
  }
  input {
    appearance: none;
    outline: none;
    font-size: var(--16px);
    font-weight: bold;
    margin: var(--padding);
    max-width: 60%;
    min-width: 40%;
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: inset 1px 2px 12px rgb(0, 0, 0);
    background-color: rgba(26, 112, 128, 0.767);
  }
}
.label-search input:not(:focus),
.label-search input::placeholder {
  color: rgba(255, 255, 255, 0.74);
}

.label-search input:focus {
  box-shadow: 1px 2px 18px rgb(0, 0, 0);
  background-color: rgba(17, 131, 151, 0.767);
}

.imgs-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.imgs-menu .imgs {
  border: 3px solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.imgs-button {
  border: none;
  padding: var(--padMenu);
  font-weight: bold;
  font-size: var(--16px);
  letter-spacing: 4px;
  color: var(--textH);
  background-color: rgb(53, 40, 31);
}

.imgs-menu img {
  max-height: 12em;
  max-width: 34em;
}
