.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-content {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.title {
  margin: 2rem;
  font-size: clamp(19px, 4vw, 32px);
  font-family: sans-serif;
}

.Arrows {
  height: 4rem;
  width: auto;
}

.image {
  cursor: auto;
  box-shadow: 1px 0px 18px rgb(148, 148, 148);
  height: 300px;
  border-radius: 20px;
  width: 420px;
}

@media (max-width: 700px) {
  .image {
    height: 180px;
    width: 200px;
  }
  .Arrows {
    height: 2em;
  }
}
